* {
    margin: 0;
    padding: 0;
}

/* <!-------------------------- Top of Page --------------------------> */
.top {
    background-color: #0f0f0f;
}

.nav {
    width: 1100px;
    /* do not do 100% bad idea messes up text*/
    margin: 0 auto;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    margin-left: 35px;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    margin-right: 400px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    height: 40px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
}

/* <!-------------------------- Below header --------------------------> */
.container {
    width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
}


.col, .col-2 {
    margin: 10px;
    padding: 10px;
    flex: 2;
}

.col-2 {
    flex: 1;
}

/* <!-------------------------- Top of the left column --------------------------> */
.user-card, .card {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
}

.top-left-header {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.top-left-body {
    padding: 20px;
}

.top-left-body h1, 
.top-left-body h2,
.top-left-body h3,
.top-left-body p {
    margin: 20px 0px;
}

.avatar-user-card {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}

/* <!-------------------------- Bottom of the left column --------------------------> */
.bottom-left-header {
    background-color: #202020;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.bottom-left-body {
    padding: 20px;
}

.bottom-left-body h1, 
.bottom-left-body h2,
.bottom-left-body h3,
.bottom-left-body p {
    margin: 25px 0px;
}

/* <!-------------------------- Top of the right column --------------------------> */
.top-right-header {
    background-color: #202020;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.connections {
    background-color: #eee;
    color: #333;
    font-size: 20px;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
}

.user {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.start, .end {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.avatar-side {
    border-radius: 50%;
    height: 48px;
    margin-right: 10px;
}

/* <!-------------------------- Bottom of the Right column --------------------------> */
.bottom-right-header {
    background-color: #202020;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.view {
    padding: 20px;
    border-top: 2px solid #0a0a0a;
}